body{
    margin: 0;
    padding: 0;
    
}


section{
    height: 100vh;
    }

.box1{
    background:url(/image1.jpg);
   background-attachment: fixed;
}
.box2{
    background:url(/image2.jpg);
    background-attachment: fixed;
}
.box3{
    background:url(/image3.jpg);
    background-attachment: fixed;
   
}
.box4{
    background:url(/image4.jpg);
    background-attachment: fixed;
   
}
.box5{
    background:url(/image5.jpg);
    background-attachment: fixed;
   
}

